html, body {
  height: 100%;
  margin: 0;
}

#title{
  background-color: #4aaaa5;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px 25px 10px 25px;
  margin: auto 0;
}

header{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

nav{
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: none;
  padding-bottom: 40px;
  margin-right: 300px;
}

.background{
  background-image: url(circles-light.png);
  height: 1000px;
  width: 100%;
  position: relative;
  margin-left: auto;      
  margin-right: auto; 
}
.container{
  position: absolute;
  width: 100%;
}

aside{
  width: 33.3%;
  float: left;
  text-align: center;
  margin: 10px;
}

aside, .tables{
  border: 2px solid gray;  
} 

div, .tables{
  background-color: white;
  width: fit-content;
  padding: 20px;
  margin: 20px;
}

h2, h3 {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: solid 2px grey;
  font-size: 30px;
  margin:0;
}
h4{
  color: #fff;
  padding: 40px;
}

h5{
  font-size: 20px;
  text-align: left;
  margin: 0;
  color: grey;
}

p {
  text-align: justify;
  text-align-last: auto;
  text-indent: 50px;
}

a{
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  color: grey;
}
a:visited{
  color: #4aaaa5;
}
a:hover{
  color:grey;
}

.social-media{
    width: 60px;
    margin: 10px -10px;
    -webkit-filter: grayscale(1);
}
  
img:hover {
  transition: all 0.5s ease;
  -webkit-filter: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;

}

img:hover {
  border-radius: 50%;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);

}

input, textarea, fieldset{
  color: #4aaaa5;
  font-family: Arial, Helvetica, sans-serif;
  height: 35px;
  width: 590px;
  font-size: 10px;
}

button{
  border: solid 1px #666;
  color: #fff;
  background: #4aaaa5;
  width: 100px;
  height 35px;
  padding: 10px;
  margin: 10px;
}

#message{
  width: 500px;
  height: 200px;
}

textarea{
  width: 590px;
  height: 200px; 
  border: hidden;
}

input{
  border: none;
}

.footer{
  text-align: center;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}


footer{
  height: 100px;
  background-color: #666666;
  border-top: 9px solid #4aaaa5;
}

#about-me{
  width: 650px;
  line-height: 2;
  padding-left: 25px;
  padding-top: 0px;
  font-size: 14px;
  float: left;
}

#folio-content{
  width: 800px;
  height: 370px;
  background-color: transparent;
}

.morph{
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  overflow: visible;
  background:  #4aaaa5;
}

.morph {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
         
}
 
.morph:hover {
  border-radius: 50%;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
          
}



#hidden{
  visibility: hidden;
}

#bio-image{
  width: 200px;
  float: left;
  margin: 10px;
  border-radius: 0;
  transform: none;
  transition: none;
  -webkit-filter: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  -webkit-filter: none;
}



/* Media Screen */

@media screen and (max-width: 980px){
  #bio-image{
    max-width: 100%;
    width: 200px;
    margin-left: 40px;
    margin-bottom: 0;
    float: none;
  }
  #about-me{
    width: 300px;
    margin-bottom: 100px;
  }
 }
/*  }

aside{
  width: 20%;
  text-align: center;
  margin: 10px;
}

aside, .tables{
  border: 2px solid gray;  
} 

div, .tables{
  background-color: white;
  width: 80%;
  padding: 0;
  margin: 10px;
}

h2, h3 {
  color: #4aaaa5;
  border-bottom: solid 2px grey;
  font-size: 20px;
  margin:0;
}
p {
  text-align: center;
  text-align-last: auto;
  text-indent: 50px;
}
*/

/*  .container{
    height: 10px;
}
  #title{
    background-color: #4aaaa5;
    width: 100%;
    height: auto;
    padding: 0;
    margin: auto 0;*/
 /* }
  nav{
    display: inline-block;
    width: 100%;
    height: auto;
    right: 0px;
    bottom: 0px;
    border: none;
    padding-bottom: 0;
    margin-right: 0;
}
.background{
  background-image: url(circles-light.png);
  height: auto;
  width: 100%;
  position: fixed;
}

#about-me{
  width: 200px;
  height: auto;
  line-height: 2;
  padding: auto;
  font-size: 1rem;
  float: left;
}



  header{
    position: none;
  }
}

@media screen (max-width: 768px){
  
}

@media screen (max-width: 640px){
  
}
*/








