#title{
  background-color: #4aaaa5;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px 25px 10px 25px;
  margin: auto 0;
}
header{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
nav{
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: none;
  padding-bottom: 40px;
}
.background{
  background-image: url(circles-light.png);
  position: relative;
  height: 700px;
  width: auto;
}
.container{
  position: absolute;
  width: 100%;
}
aside, .tables, #portfolio-div, #contact-div{
  border: 2px solid gray;  
} 
.header, .tables{
  background-color: white;
  width: fit-content;
  padding: 20px;
  margin: 20px;
}
.side-nav{
  background-color: white;
  width: 270px;
  padding: 20px;
  float: left;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}
h2, h3 {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: solid 2px grey;
  font-size: 30px;
  margin:0;
}
h4{
  color: #fff;
  padding: 40px;
}
h5{
  font-size: 20px;
  text-align: left;
  margin: 0;
  color: grey;
}
p {
  text-align: justify;
  text-align-last: auto;
  text-indent: 50px;
}
a{
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  color: grey;
}
a:visited{
  color: #4aaaa5;
}
a:hover{
  color:grey;
}
.social-media{
    width: 60px;
    margin: 10px -10px;
    -webkit-filter: grayscale(1);
}
img:hover {
  transition: all 0.5s ease;
  -webkit-filter: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
img:hover {
  border-radius: 50%;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
input, textarea, fieldset{
  color: #4aaaa5;
  font-family: Arial, Helvetica, sans-serif;
  height: 35px;
  width: 500px;
  font-size: 10px;
}
button{
  border: solid 1px #666;
  color: #fff;
  background: #4aaaa5;
  width: 100px;
  height 35px;
  padding: 10px;
  margin: 10px;
}
#message{
  width: 50px;
  height: 200px;
}
textarea{
  width: 500px;
  height: 200px; 
  border: hidden;
}
input{
  border: none;
}
.footer{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 12px;
}
footer{
  height: 50px;
  position: relative;
  background-color: #666666;
  border-top: 9px solid #4aaaa5;
  text-align: center;
}
#about-me{
  width: 500px;
  line-height: 2;
  padding-left: 25px;
  padding-top: 0px;
  font-size: 14px;
  float: left;
}
#contact-div, #portfolio-div{
  float: left;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-right: 10px
}
#portfolio-div{
  width: 600px;
}
#contact-div{
  width: 625px:
}
#folio-content{
  width: 800px;
  height: 370px;
  background-color: transparent;
}
.morph{
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  overflow: visible;
  background:  #4aaaa5;
}
.morph {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;        
}
.morph:hover {
  border-radius: 50%;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);          
}
#hidden{
  visibility: hidden;
}
#bio-image{
  width: 200px;
  float: left;
  margin: 10px;
  border-radius: 0;
  transform: none;
  transition: none;
  -webkit-filter: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  -webkit-filter: none;
}



















/*MEDIA QUERIES ////////////////////////////////////////////////*/

@media screen and (max-width:980px) {
    .background{
      height: 990px;
    }
    #bio-image {
      max-width : 100%;
      width : 200px;
      float : none;
      margin-bottom: 20px;
      }
    #about-me {
      width : 300px;
      margin-bottom : 100px;
      font-size: 12px;
      }
    nav {
      margin-right: 40px;
      } 






/*  input, textarea, fieldset {
    color : #4aaaa5;
    font-family : Arial, Helvetica, sans-serif;
    height : 35px;
    width : 250px;
    font-size : 12px;
    }
  #message {
    width : 200px;
    height : 200px;
    }
  
  .morph {
    width : 150px;
    height : 150px;
    margin : 10px;
    padding : 10px;
    background : #4aaaa5;
  }
  #hidden {
    display : none;
  }
  #folio-content {
    width : 300px;
    height : 370px;
    background-color : transparent;
  }
  .background {
    height: 1100px;
    }
  }*/
@media screen and (max-width:768px) {
  #bio-image {
    max-width : 100%;
    width : 200px;
    margin-left : 40px;
    margin-bottom : 0;
    float : left;
    }
  #about-me {
    width : 550px;
    margin-bottom : auto;
    }
  nav {
    margin-right : auto;
    }
  .side-nav{
    width: 550px;
  }
  .background{
    height: 900px;
  }



  .tables {
    width : 550px;
    margin : 10px;
    }
  input, textarea, fieldset {
    color : #4aaaa5;
    font-family : Arial, Helvetica, sans-serif;
    height : 35px;
    width : 430px;
    font-size : 12px;
    }
  #message {
    width : 200px;
    height : 200px;
    }
  #folio-content{
    width: 550px;
    height: auto;

  }
  nav {
  margin-right: 40px;
  }
@media screen and (max-width:640px) {
  .background{
    height: 1500px;
    width: 640px;
    align-items: center;
  }
  #bio-image {
  max-width : 100%;
  width : 200px;
  margin: 0 100px;
  margin-bottom: 10px;
  position: relative;
  }
  #about-me, .side-nav{
  width : 400px;
  height: 800px;
  margin: 20px;
  margin-left: 95px;
  }
  .side-nav{
    width: 400px;
    margin: 20px;
    height: auto;
    margin-left: 95px;
  }
  .tables{
    height: 100px;
  }
  .container{
    width: 100%;
   
  }

  nav {
  text-align : center;
  padding-left : 20px;
  padding : 10px;
  position : initial;
  }
  #title {
  text-align : center;
  width: 100%;
  }
  .tables {
  width : 350px;
  margin-left : 125px;
  }
  .background {
  height : 1200px;
  }
  div {
  width : 100%;
  }
  input, textarea, fieldset {
  color : #4aaaa5;
  font-family : Arial, Helvetica, sans-serif;
  height : 35px;
  width : 300px;
  font-size : 12px;
  }
  #message {
  width : 200px;
  height : 200px;
  }
  nav {
  margin-top: 20px;
  margin-left: 95px;
  }
  }